/* ici je declare mes styles */

:root{
    --border-body:3px, solid rgb(0, 113, 38);
    --border-parent:2px, solid red;
    --border-enfant1:2px, solid green;
    --border-form: 1px solid rgb(167, 167, 167);
    --back-adm:rgb(110, 114, 115);
    --back1:rgb(255, 218, 55);
    --back-navbar: rgb(255, 255, 255);
    --back-footer: black;
    --color-footer:white;
    --display-flex: flex;
    --display-block: block;
    --hauteur-body:50vh;
    --largeur-body:100vw;
    --size-body:2em;
    
}

