
.barrerecher{
    border: var(--border-enfant1);
    padding: 0 50px;
}

.barrerecher input, button{
    border-radius: 4px;
    border: var(--border-form);
    height: 100%;  
    /* margin: 0 50px;   */
}

.barrerecher input{
    width: 70%;
    margin-right: 20px;
}
.barrerecher button{
    width: 20%;
}