

form{
    /* border: 2px solid rgb(255, 238, 0); */
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    /* margin-left: 25px; */
    /* margin-right: 40px; */
    height: 10dvw;
     /* max-width:80dwv; */
    /* min-width: max-content; */
    gap: 4px;
    

}

input{
    width:90dvw;
    /* margin-right: 18px; */
    border-radius: 8px;
    /* height: 100%; */
    font-size: 15.6px;
    /* font-size: ; */
    border: 1px solid darkgrey;
    padding:0 35px;
}


form .search{
    /* height: 100%; */
    /* width: 10%; */
    /* border-radius: 5px; */
    /* border: 2px solid rgb(241, 33, 33); */
    border: none;
    background-color: white;
    position: absolute;
    right: 275px;
    top: 53px;
    border-radius:25px;
    /* text-align: center; */
}
/* form .search a{
   padding: 10px;
   margin: 10px;
} */

/* button:hover{ */
    /* background-color:  rgb(139, 138, 138); */
    /* border: 1px solid black; */
    /* transition: 0.2s; */
/* }  */