

.formulaireCd{
border: 2px solid blue;
width: 50vw;
/* display: block; */
}

.formulaireCd form{
   display: block; 
   border: 2px solid rgb(0, 179, 48);
}

.formulaireCd input{
    width: auto;
    border: 2px solid rgb(179, 0, 81);
    display: block;
}
